body, html{
    padding:0;
    margin:0;
}
.header{
    text-align:center;
    background-color:white;
}
.main-contents{
    background-color:gray;
    padding:10em;
    padding-top:0;
    padding-bottom:0;
}
.footprint{
    padding:10em;
    padding-top:0;
    padding-bottom:0;
    margin-bottom:1em;
}
.footer{
    text-align:center;
    border-top:0;
    padding:1em;
}